@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");


:root{
    --accent-color: #bde6fb;
    --secondary-color: #6f8893;
    --background-color: #1e2529;
    --range-bg-color: #2a3439;
    --error-color: #C44536;
    --text-disabled-color: #BDBDBD;
}

*::-webkit-scrollbar, *::-webkit-scrollbar-track{
    background-color: transparent;
    height: 4px;
    width: 8px;
}


*::-webkit-scrollbar-thumb{
    background-color: rgba(0,0,0,.2)
}

i{
    color: inherit !important;
}

button, input[type="submit"]{
    cursor: pointer;
    border: none;
    outline: none;
}

html, body{
    margin: 0;
    background-color: var(--background-color);
    color: white;
    min-height: 100vh;
    max-width: 100vw;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
}

*{
    color: white;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

li{
    margin: 0;
}

a{
    text-decoration: none;
    padding: 0;
    color: inherit;
}

button{
    background-color: transparent;
}

textarea{
    border: 0;
    outline: none;
    resize: none;
    padding: 1em;
    font-family: inherit;
    background-color: transparent;
    font-size: inherit
}

input{
    background-color: transparent;
    outline: none;
    border: none;
    font-size: inherit;
}

input[type="range"]{
    -webkit-appearance: none;
    height: 7px;
    background: var(--range-bg-color);
    background-image: linear-gradient(var(--accent-color), var(--accent-color));
    background-size: 0% 100%;
    background-repeat: no-repeat;
}

input[type="range"]::-webkit-slider-runnable-track, input[type="range"]::-moz-range-track{
    -webkit-appearance: none;
    border: none;
    background: transparent;
}


/* Unclear why, but grouping the next two together just breaks the thumb on chrome */
input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    background: var(--accent-color);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 0;
}

input[type="range"]::-moz-range-thumb{
    -webkit-appearance: none;
    background: var(--accent-color);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 0;
}

button[data-post]{
    margin: 0;
    padding: 0;
    padding-top: .5em;
}

.b{
    font-weight: bold;
}

.input-col-wrapper{
    display: flex;
    flex-direction: column;
    align-content: start;
    justify-content: center;
    margin-bottom: 1.5rem;
    width: 100%;
}

.input-col-wrapper > label{
    margin-bottom: .5rem;
}

.input-darker{
    border: 0;
    background-color: rgba(0,0,0, .2);
    padding: 4px;
    padding-left: 16px;
    outline: none;
    height: 2em;
    font-weight: bolder;
    border-radius: 4px;
}

.input-larger{
    min-width: 30rem;
    max-width: 40rem;
}

.dn{
    visibility: hidden;
    width: 0;
    height: 0;
}

.base-header{
    height: 4rem;
}

.auth-button{
    font-size: 24px;
    cursor: pointer;
}

.btn-square{
    --color: var(var(--accent-color));
    border-radius: 6px;
    border: 1px solid var(--color);
    color: var(--color);
    background-color: transparent;
    min-width: 8em !important;
    text-transform: uppercase;
    font-weight: bold;
}

.btn-small{
    max-width: 7em;
}

.cat-btn-wrapper{
}

.cat-btn-wrapper input[type="checkbox"]{
    display: none;
}

.cat-btn-wrapper button{
    margin-right: .5rem;
}

.auth-msg{
    margin-top: 1rem;
}

.ad-error{
    background-color: var(--error-color);
    border-radius: 4px;
    padding: 1em 5em;
}

.card{
    margin-right: .5rem;
    border-radius: 6px;
}

.card img{
    width: 10em;
    height: 10em;
    border-radius: 6px;
    object-fit: cover;
}

.card h3{
    margin: 0;
    padding: 0;
    margin-top: 1em;
    font-size: .9em;
    max-width: 11em;
    height: 1.5em;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.card h4{
    margin: 0;
    padding: 0;
    margin-top: .1em;
    font-size: .7em;
    color: var(--text-disabled-color);
    margin-bottom: 1.5em;
    max-width: 11em;
    height: 1.5em;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.card-input{
    margin-right: .5rem;
    border-radius: 6px;
    font-size: 20px !important;
}

.card-input * input{
    border: none;
    outline: none;
    color: var(--accent-color);
    font-size: inherit;
    background-color: var(--background-color);
    width: 10em;
}
 
.card-input * input:not(:placeholder-shown){
    background-color: transparent;
}

.media-player > div{
    display: grid;
    grid-template-areas: "meta play volume";
    grid-template-columns: 1fr 1fr 1fr;
    width: calc(100% - 2rem);
    height: 3rem;
}


.media-player > div > div{
    width: calc((100vw - 2rem) / 3);
}

.mp-play-wrapper{
    align-self: center;
    justify-self: center;
    grid-area: play;
}

.mp-play-meta a{
    width: 100%;
    overflow-x: hidden;
    max-height: 1.5rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}


#mp-play-button{
    transform: translate(.3em, .3em);
}

.mp-volume-wrapper{
    align-items: center;
    font-size: 2em;
    grid-area: volume;
    justify-content: end;
}

.stack{
    display: block; 
    position: relative;
}

.stack *{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.emp-box{
    border: 1px solid var(--accent-color);
    border-radius: 8px;
    height: 17.5rem;
}

.emp-box span{
    font-size: 1.5em;
    text-align: center;
}

.card-input .stack{
    font-size:inherit;
    width: 10em;
    height: 10em;
    border-radius: 6px;
    overflow: hidden;
}

.card-input .stack img{
    width: 10em;
    height: 10em;
    font-size: inherit;
    object-fit: cover;
}

.card-input .stack button{
    background-color: transparent;
    transition: background-color 200ms;
    border: 0;
}

.card-input .stack:hover button{
    background-color: rgba(0,0,0,.4);
}

input[type="file"]{
    color: rgba(0,0,0,0);
    opacity: 0;
    cursor: pointer;
}

.card-input .stack input:hover{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    background-color: transparent;
    width: 100%;
}

.card-input h3{
    margin: 0;
    margin-top: 1rem;
    font-size: inherit;
}

.card-input h4{
    margin: 0;
    padding: 0;
    margin-top: .1rem;
    font-size: .7em;
    color: var(--text-disabled-color);
    margin-bottom: 2.15em;
}

/* Full-Width */
.w100{
    width: 100%;
}

.fw{
    flex-wrap: wrap;
}

.df{
    display: flex;
}

/* Flex row centered */
.dfr{
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Flex column centered */
.dfc{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.row{
    flex-direction: row;
}

.col{
    flex-direction: column;
}

.p0{
    padding: 0;
}

/* Half rem padding */
.p8{
    padding: .5rem;
    width: calc(100% - 1rem)
}

.p16{
    padding: 1rem;
}

.px16{
    padding: 0 1em;
}

.mb8{
    margin-bottom: .5rem;
}

.mt8{
    margin-top: .5rem;
}

.pl16{
    padding-left: 1rem;
}

.scrollx{
    overflow-x: scroll;
    padding-bottom: .2rem;
}

.scrollx::-webkit-scrollbar, .scrollx::-webkit-scrollbar-track{
    background-color: transparent;
    height: 4px;
}

.scrollx::-webkit-scrollbar-thumb{
    background-color: rgba(0,0,0,.2)
}

/* Flex align end */
.fjse{
    margin-left: auto;
}

.fjss{
    margin-right:auto;
}

.fjse a{
    margin-left: .5rem;
}

/* Darken color */
.dc{
    background-color: rgba(0,0,0, .2);
}

.br25{
    border-radius: 25px;
}

.br50{
    border-radius: 50%;
}

.b0{
    border: 0;
    outline: 0;
}

.bg-accent-color{
    background-color: var(--accent-color) !important;
}

.accent-color{
    color: var(--accent-color) !important;
    --color: var(--accent-color) !important;
}

.secondary-color{
    color: var(--secondary-color) !important;
    --color: var(--secondary-color) !important;
}

.bg-dark{
    background-color: var(--background-color) !important;
}

.bg-darker{
    background-color: rgba(0,0,0, .2);
}

.fg-dark{
    color:  var(--background-color) !important;
}

.highlight:hover{
    text-decoration: underline;
    text-decoration-color: inherit;
}

.pod-card img{
    border-radius: 30%;
}

/* IDs */

#auth-button{
    margin-top: 2rem;
}

#menu-wrapper{
    align-self: start;
    width: 17rem;
}

#menu{
    width: 15rem;
    padding: 0 1rem;
    padding-left: .5rem;
}

#menu a{
    padding: .4rem 1rem;
    margin-bottom: .5rem;
    width: calc(100% - 4rem);
    align-items: center;
    border-radius: 12px;
    background: transparent;
}

#menu a li{
    padding: 0;
    line-height: 2.2rem;
    color:inherit;
}


#menu a li i{
    font-size: 1.25rem;
    margin-right: .5rem;
    color: inherit;
}

#menu a li span{
    color: inherit;
}

#tr-menu a{
    cursor: pointer;
}

#tr-menu a button i{
    font-size: 1.3em;
}

#profile-info span h2{
    margin: 0;
    font-size: 100px;
    text-transform: capitalize;
}

#profile-info span a{
    font-size:60px;
    align-self: end;
    position:relative;
    padding-bottom:.8rem;
    margin-left: 1rem;
    color: var(--error-color)
}

#profile-info h1{
    margin: 0;
    text-transform: uppercase;
}

#profile-following{
    margin-top: 4rem;
}



.pod-meta-presentation img{
    width: 12.5rem;
    height: 12.5rem;
    border-radius: 1.2rem;
    margin-right: 1rem;
    object-fit: cover;
}

.pod-cat{
    font-size: .6em;
    max-width: 2em;
    text-align: center;
    margin-right: .5rem;
}

.pod-meta-presentation div{
    justify-content: end;
}

.pod-meta-title{
    font-size: 60px;
    text-transform: capitalize;
    margin: 0;
}


.pod-meta-presentation div h1{
    margin: 0;
    text-transform: uppercase;
}

.pod-ep-description{
    margin-top: 0;
    margin-bottom: .5rem;
}

#profile-following{
    margin-top: 4rem;
}

.pod-meta-social{
    margin: 3rem 0;
}

.pod-meta-article h2{
    margin-top: 0;
}

.pod-ep-info img{
    width: 4rem;
    height: 4rem;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 1rem;
}

.pod-ep-info h1{
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.pod-ep-info input{
   font-size: 1.5em; 
   font-weight: bold;
}

.empty {
    border: 0;
    padding: 0;
    margin: 0;
}


#pod-ep-list li{
    padding-bottom: .5rem;
    border-bottom: 1px solid var(--secondary-color);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

#pod-ep-control{
    padding-left: .2rem;
    margin-top: .2rem;
}

#pod-ep-control time{
    margin-left: 1rem;
    font-weight: bold;
    transform: translateY(.2rem);
}

#pod-action{
    margin-left: 1rem;
    transform: translateY(.2rem);
}

.action-btn{
    font-size: 1.4em; 
    margin-left: .2rem;
    transform: translateY(-.25em);
    cursor: pointer;
}

.compositeplay{
    --size: 2.5em;
    width: var(--size);
    height: var(--size);
    cursor: pointer;
}

.compositeplay *{
    font-size: 2em;
    cursor: pointer;
    pointer-events: none;
}

.compositeplay *::before{
    transform: translateY(-.5rem)
}

.pausetransform::before{
    transform: translate(-.05em, -.5rem) !important;
}

.compositeplay i:first-child{
    color: var(--accent-color) !important;
}

.compositeplay i:last-child{
    color: var(--background-color) !important;
    padding-left: 2px;
}

#newepisode_description{
    font-size: 1rem;
    margin: 1rem 0;
    padding: 0;
    height: 6em;
}

#newepisode_filewrapper{
    height: 10rem;
    width: 10em;
}

#newcomment-wrapper textarea{
    height: 6rem;
    padding: .5em;
    border: 1px solid var(--accent-color);
    border-top: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    margin: 1rem 0;
    font-size: inherit;
}

#play-btn{
    font-size: inherit;
    border: 0;
    margin: 0;
    padding: 0;
}

#play-btn i::before{
    transform: translateY(-.1em)
}

#newcomment-wrapper label{
    font-size: 1.25em;
}

#comment{
    margin-bottom: .5rem;
    padding-bottom: .5rem;
}

#comment span{
    margin-left: .5rem;
}

#comment textarea{
    padding:0;
    border-bottom: solid 1px var(--color);
    height: 2em;
}

#comment div a{
    font-weight: bold;
}

#comment div time{
    margin-left: .5rem;
}

#comment p{
    margin: 0;
    margin-top: .2rem;
}

#root{
    width: 100%;
    margin-right: 0;
}

#content{
    width: calc(100vw - 17rem);
    height: calc(100vh - 12rem);
    overflow-y: scroll;
}

#content section{
    padding-right: .5rem;
}

@media screen and (max-width: 550px) {
    .input-larger{
        min-width: 80vw;
        max-width: 95vw;
        width: 80vw;
    }

    .card-input{
        font-size: 14px !important;
    }

    .media-player > div{
        grid-template-areas: "meta play";
        grid-template-columns: 1fr 1fr;
    }


    .media-player > div > div{
        width: auto;
    }

    .mp-volume-wrapper{
        display: none;
    }

    .mp-play-meta a{
        max-width: 60vw;
    }

    .mp-play-wrapper{
        justify-self: end;
        grid-column: 3;
    }

    #signup-prompt{
        display: none;
    } 


    #profile-info span h2{
        font-size: 45px;
    }


    #profile-info span a{
        margin-left: 0;
    }
}

@media screen and (max-width: 700px){
    .pod-meta-presentation{
        flex-direction: column;
    }

    .pod-meta-presentation img{
        width: 4rem;
        height: 4rem;
    }

    .pod-meta-presentation div{
        margin-top: 1rem;
    }

    .pod-meta-title{
        font-size: 40px;
        line-height: 1;
    }

    .pod-meta-social{
        margin: 2rem 0;
    }


    .pod-meta-presentation div h1{
        font-size: 14px;
    }

    .emp-box span{
        font-size: 1em;
        max-width: 70%;
    }
}

@media screen and (max-width: 1200px){
    #menu-wrapper{
        width: 4.5rem;
    }

    #menu{
        width: 5rem;
    }

    #menu a li{
        position:relative;
        right: .1rem;
    }

    #menu a li span{
        display: none;
        width: 0;
    }

    #content{
        width: calc(100vw - 5rem);
    }
}