{% import "macro.html" as macro %}
<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" type="image/{% block fav_mime %}{% endblock %}" href="{% block favicon %}{% endblock %}" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
        <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap" rel="stylesheet">
        <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    </head>
    <body>
        <header class="dfr p8 base-header">
            <input type="text" class="i20r tc input-darker pl16" placeholder="Cerca..." name="search-field"/>
            <div class="fjse dfr" id="tr-menu">
            {% if current_user.is_authenticated and current_user.is_creator %}
                <a href="/new"><button class="br25 accent-color b0"><i class="bi-plus-circle-fill fs2"></i></button></a>
            {% endif %}
            {% if current_user.is_authenticated %}
                <a href="/me"><button class="br25 input-darker px16 accent-color">{{ current_user.username }}</button></a>
            {% else %}
                <a href="/signup" id="signup-prompt"><button class="br25 input-darker px16 accent-color">Registrati</button></a>
                <a href="/login" id="login-prompt"><button class="br25 input-darker px16 accent-color">Accedi</button></a>
            {% endif %}
            </div>
        </header>
        <div class="dfr" id="root">
           <nav class="df col" id="menu-wrapper">
                <ul id="menu">
                    <a class="w100 input-darker dfr accent-color {% if request.endpoint != None and url_for(request.endpoint) == '/' %}bg-accent-color fg-dark{% endif %}" href="/"><li><i class="bi-house-door-fill"></i><span>Home</span></li></a>
                    <a class="w100 input-darker dfr accent-color {% if request.endpoint != None and url_for(request.endpoint) == '/categories' %}bg-accent-color fg-dark{% endif %}" href="/categories"><li><i class="bi-collection"></i><span>Categorie</span></li></a>
                    <a class="w100 input-darker dfr accent-color {% if request.endpoint != None and url_for(request.endpoint) == '/subscriptions' %}bg-accent-color fg-dark{% endif %}" href="/subscriptions"><li><i class="bi-disc-fill"></i><span>Le tue iscrizioni</span></li></a>
                </ul>
            </nav> 
            <div class="w100 p8" id="content">{% block content %}{% endblock %}</div>
        </div>
        <div class="df col w100 media-player">
            <input type="range" class="w100" min="0" value="0" max="100" step=".1" id="mp-progress-bar"/>
            <div class="df row p16 w100">
                {% if session['last_played']['ep'] != None %}
                    <audio src="{{ url_for('static', filename='audio/'+session['last_played']['ep'].track) }}" preload="metadata" {% if session['last_played']['meta']['is_playing'] == True %} autoplay mute {% endif %}{% if session['last_played']['meta']['current_time'] %} data-currentTime="{{ session['last_played']['meta']['current_time'] }}" {% endif %}></audio>
                {% endif %}
                <div class="df col mp-play-meta">
                    <a class="accent-color b highlight" href="/pod/{{ session['last_played']['ep'].podcast_podcastid }}/{{ session['last_played']['ep'].episodeid }}">{{ session["last_played"]["ep"].title }}</a>
                    <a class="secondary-color highlight"href="/pod/{{ session['last_played']['ep'].podcast_podcastid }}">{{ session["last_played"]["pod"].title }}</a>
                </div> 
                <div class="dfc center mp-play-wrapper">
                    {{ macro.compositeplay("mp-play-button") }}
                </div>
                <div class="df row mp-volume-wrapper">
                    <i class="accent-color bi-volume-down"></i>
                    <input type="range" min="0" value="100" max="100" id="mp-volume-bar"/>
                </div>
            </div>
        </div>
        <script src="{{ url_for('static', filename='js/media-player.js') }}"></script>
        <script src="{{ url_for('static', filename='js/image-helper.js') }}"></script>
        <script src="{{ url_for('static', filename='js/form-helper.js') }}"></script>
        <script src="{{ url_for('static', filename='js/search.js') }}"></script>
        {% block scripts %}
        {% endblock %}
    </body>
    <!-- Progetto IAW   -->
    <!-- Autore: Simone Aronica  -->
</html>
