{% extends "base.html" %}
{% import "macro.html" as macro %}
{% block favicon %}{{ url_for('static', filename='images/'+pod.thumbnail) }}{% endblock %}
{% block fav_mime %}{{ pod.thumbnail.split('.')[-1] }}{% endblock %}
{% block title%}{{ ep.title }}{% endblock %}
{% block content %}
{% call macro.presentation(ep.title, pod.title, pod.thumbnail, "/api/follow/"+ep.podcast_podcastid|string, is_following, ep.description, "/pod/"+ep.podcast_podcastid|string) %}
<div class="df row" id="pod-action">
    <a href="/play/{{ ep.podcast_podcastid }}/{{ ep.episodeid }}">{{ macro.compositeplay() }}</a>
    {% if pod.user_username == current_user.username %}
    <button class="action-btn" id="edit-btn"><i class="bi-pencil accent-color"></i></button>
    <button class="action-btn" id="delete-btn"><i class="bi-trash accent-color"></i></button>
    {% endif %}
</div>
{% endcall %}
<section>
    <h2 class="accent-color">Commenti</h2>
    <div class="df col">
        {% if comments|length > 0%}
            {% for c in comments %}
            <article class="df col" id="comment" {% if c['user_data'].username == current_user.username %} data-editable {% endif %}>
                <div class="df row">
                    <a class="accent-color" href="/p/{{ c['user_data'].username }}">{{ c['user_data'].display_name }}</a>
                    <span class="secondary-color" data-timestamp="{{ c['comment_data'].date_published }}">{{ timestampToString(c['comment_data'].date_published) }}</span>
                    {% if c['user_data'].username == current_user.username %}
                    <button class="action-btn" id="edit-btn"><i class="bi-pencil accent-color"></i></button>
                    {% set formid = '{:0=13}'.format(range(0, 9999999999999) | random) %}
                    <form id="delete-form-{{ formid }}" method="POST" action="/api/remove/comment">
                    <input type="hidden" name="timestamp" form="delete-form-{{ formid }}" value="{{ c['comment_data'].date_published }}"/>
                        <input type="hidden" name="podcastid" form="delete-form-{{ formid }}" value="{{ pod.podcastid }}"/>
                        <input type="hidden" name="episodeid" form="delete-form-{{ formid }}" value="{{ ep.episodeid }}"/>
                        <button class="action-btn" form="delete-form-{{ formid }}"><i class="bi-trash accent-color"></i></button>
                    </form>
                    {% endif %}
                </div>
                <p class="secondary-color w100">{{ c['comment_data'].content }}</p> 
            </article>
            {% endfor %}
        {% else%} 
            {{ macro.empty_section("Invia il primo commento per riempire questa sezione.") }}
        {% endif %}
    </div>
    {% if current_user.is_authenticated %}
    <h2 class="accent-color">Lascia un commento</h2>
    <form method="POST" action="/api/newcomment">
        <input type="hidden" value="{{ ep.podcast_podcastid }}" name="podcastid"/>
        <input type="hidden" value="{{ ep.episodeid }}" name="episodeid"/>
        <div class="df col" id="newcomment-wrapper">
            <textarea name="content" id="newcomment_content" class="secondary-color" maxlength="500"></textarea>
        </div>
        <input type="submit" value="Invia" class="accent-color p8 btn-square bg-accent-color fg-dark btn-small"/>
    </form>
    {% endif %}
</section>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/action.js') }}"></script>
{% endblock %}