{% extends "base.html" %}
{% import 'macro.html' as macro %}
{% block title%}Home{% endblock %}
{% block content %}
<section id="home" class="df col"> 
    {%- call macro.scrollx(title="Ultime uscite") %}
        {% if data["latest"]|length > 0%}
            {% for d in data["latest"] %}
            {{ macro.card(data['episode'][(d[0], d[1])].title, data['podcast'][d[0]].title, data['podcast'][d[0]].thumbnail, "/pod/" + d[0]|string + "/" + d[1]|string, data['podcast'][d[0]].category + [data['episode'][(d[0], d[1])].title.lower(), data['podcast'][d[0]].title.lower()]) }}
            {% endfor %}
        {% else %}
            {{ macro.empty_section("Attendi che vengano caricati nuovi episodi per riempire questa sezione.") }}
        {% endif %} 
    {%- endcall %}
    {% if current_user.is_authenticated %}
        {%- call macro.scrollx(title="I generi che ti piacciono") %}
                {% if data["similar"]|length > 0 %}
                {% for d in data["similar"] %}
                {{ macro.card(data['episode'][(d[0], d[1])].title, data['podcast'][d[0]].title, data['podcast'][d[0]].thumbnail, "/pod/" + d[0]|string + "/" + d[1]|string, data['podcast'][d[0]].category + [data['episode'][(d[0], d[1])].title.lower(), data['podcast'][d[0]].title.lower()]) }}
                {% endfor %}
                {% else%}
                    {{ macro.empty_section("Inizia a seguire dei podcast per riempire questa sezione.") }}
                {% endif %}
        {%- endcall %}
    {% endif %}
    {%- call macro.scrollx(title="Podcast caricati recentemente") %}
        {% if data["podcast"]|length > 0%}
            {% for i in data["podcast"] %}
            {{ macro.card(data["podcast"][i].title, data["user"][data["podcast"][i].user_username].display_name, data["podcast"][i].thumbnail, "/pod/" + data["podcast"][i].podcastid|string, data["podcast"][i].title.split(' ') + data["podcast"][i].category) }}
            {% endfor %}
        {% else %}
            {{ macro.empty_section("Attendi che vengano caricati nuovi episodi per riempire questa sezione.") }}
        {% endif %} 
    {%- endcall %}
</section>
{% endblock %}