{%- macro scrollx(title='title', use_filtering=true, caller='') %}
<section class="df col w100">
    <h2 class="accent-color">{{title}}</h2>
    <div class="dfr w100 scrollx" {% if use_filtering %}data-filtering {% endif %}>
        {{caller()}}
    </div>
</section>
{%- endmacro %}

{%- macro card(title='title', subtitle='subtitle', thumbnail='', main_href='', filters=[], class='')%}
<a class="p16 df col bg-darker card {{ class }}" href="{{main_href}}" {% if filters|length > 0 %}data-filters="{% for f in filters %}{{ f.lower() }} {% endfor %}" {% endif %}>
            <img src="{{url_for('static', filename='images/'+thumbnail)}}" alt="{{ thumbnail }}"/>
            <h3 class="accent-color">{{title}}</h3>
            <h4>{{subtitle}}</h4>
        </a>
{%- endmacro %}

{%- macro presentation(title='Title', subtitle='Subtitle', thumbnail='#', button_action='#', button_fill=False, description='Description', subtitle_link='#', caller='') %}
<section class="podcast-metadata">
    <article class="df col">
        <div class="df row pod-meta-presentation">
            <img src="{{ url_for('static', filename='images/'+thumbnail) }}" alt="{{ thumbnail }}" />
            <div class="df col">
                <h2 class="accent-color pod-meta-title">{{ title }}</h2>
                <h1 class="accent-color pod-meta-subtitle"><a href="{{ subtitle_link }}">{{ subtitle }}</a></h1>
            </div>
        </div>
        {% if button_action != '#' %}
        <div class="df row pod-meta-social">
            <form method="POST" action="{{ button_action }}"><button class="accent-color p8 btn-square btn-small {% if button_fill == True %}bg-accent-color fg-dark{% endif %}">{% if button_fill %}Segui già{% else %}Segui{% endif %}</button></form>
            {% if caller != '' %}
            {{ caller() }}
            {% endif %}
        </div>
        {% endif %}
        <div class="df col pod-meta-article">
            <h2 class="accent-color">Informazioni</h2>
            <p class="secondary-color">{{ description }}</p>
        </div>
    </article>
</section>
{%- endmacro %}

{%- macro empty_section(msg) %}
<div class="dfc center emp-box accent-color w100">
    <span class="accent-color">{{ msg }}</span>
</div>
{%- endmacro %}

{%- macro compositeplay(id='', data_pod='', data_ep='', type='div') %}
<{{ type }} class="stack compositeplay" id="{{ id }}" {% if data_pod != '' and data_ep != ''%}data-podcastid='{{ data_pod }}' data-episodeid='{{ data_ep }}'{% endif %}>
    <i class="bi-circle-fill"></i>
    <i class="bi-play-fill"></i>
</{{ type }} >
{%- endmacro %}