{% extends "base.html" %}
{% import "macro.html" as macro %}
{% block title %}{{ pod.title }}{% endblock %}
{% block favicon %}{{ url_for('static', filename='images/'+pod.thumbnail) }}{% endblock %}
{% block fav_mime %}{{ pod.thumbnail.split('.')[-1] }}{% endblock %}
{% block content %}
{{ macro.presentation(pod.title, creator.display_name, pod.thumbnail, "/api/follow/"+pod.podcastid|string, is_following, pod.description, "/p/"+creator.username) }}
<section class="df col" id="podcast-all-episodes">
    <h1 class="accent-color">Tutti gli episodi</h1>
    <ul class="df col" id="pod-ep-list">
    {% for e in ep %}
        <a class="w100" href="/pod/{{e.podcast_podcastid}}/{{e.episodeid}}">
            <li class="df col">
                <div class="df row pod-ep-info">
                    <img src="{{ url_for('static', filename='images/'+pod.thumbnail) }}"/>
                    <h1 class="accent-color">{{ e.title }}</h1>
                </div>
                <p class="secondary-color pod-ep-description">{{ e.description }}</p>
                <div class="df row" id="pod-ep-control">
                    <div class="stack" id="pod-ep-compositeplay">
                        <i class="bi-circle-fill"></i>
                        <i class="bi-play-fill"></i>
                    </div>
                    <span class="accent-color">{{ timestampToString(e.release_date) }}</span>
                </div>
            </li>
        </a>
    {% endfor %}
    </ul>
</section>
{% if pod.user_username == current_user.username %}
<section>
    <h1 class="accent-color">Aggiungi un episodio</h1>
    <form class="df col" method="POST" action="/api/newepisode" enctype="multipart/form-data">
        <div class="df row">
            <div class="df col w100">
                <div class="df row pod-ep-info">
                    <img src="{{ url_for('static', filename='images/'+pod.thumbnail) }}"/>
                    <input type="text" name="newepisode_title" id="newepisode_title" class="accent-color w100" placeholder="Titolo"/>
                    <input type="hidden" name="newepisode_podcastid" value="{{ pod.podcastid }}" />
                </div>
                <textarea class="secondary-color pod-ep-description" name="newepisode_description" id="newepisode_description" class="secondary-color" placeholder="Inserisci una descrizione dell'episodio"></textarea>
            </div> 
            <div class="stack" id="newepisode_filewrapper">
                <button type="button" class="accent-color p8 btn-square w100">Carica traccia</button>
                <input type="file" name="newepisode_track" />
            </div>
        </div>
        <button class="p8 btn-square btn-small fg-dark bg-accent-color" id="newepisode_submit">Crea episodio</button>
    </form>
</section>
{% endif %}
{% endblock %}