{% extends "base.html" %}
{% import "macro.html" as macro %}
{% block title %}{{ pod.title }}{% endblock %}
{% block favicon %}{{ url_for('static', filename='images/'+pod.thumbnail) }}{% endblock %}
{% block fav_mime %}{{ pod.thumbnail.split('.')[-1] }}{% endblock %}
{% block content %}
{% call macro.presentation(pod.title, creator.display_name, pod.thumbnail, "/api/follow/"+pod.podcastid|string, is_following, pod.description, "/p/"+creator.username) %}
<div class="df row" id="pod-action">
    {% if ep|length > 0%}
    <form action="/play/{{ pod.podcastid }}/{{ ep[ep|length - 1].episodeid }}" method="POST">{{ macro.compositeplay(type="button", id="play-btn") }}</form>
    {% endif %}
    {% if pod.user_username == current_user.username %}
    <button class="action-btn" id="edit-btn"><i class="bi-pencil accent-color"></i></button>
    <button class="action-btn" id="delete-btn"><i class="bi-trash accent-color"></i></button>
    {% endif %}
</div>
{% endcall %}
<div class="df row fw w100">
{% for c in pod.category %}
    <span class="btn-square br25 bg-dark secondary-color p8 pod-cat">{{ c }}</span>
{% endfor %}
</div>
<section class="df col" id="podcast-all-episodes">
    <h1 class="accent-color">Tutti gli episodi</h1>
    <ul class="df col" id="pod-ep-list" data-filtering>
    {% if ep|length > 0%}
    {% for e in ep %}
        <li class="df col" data-filters="{{ e.title.lower() }} {{ ' '.join(getKeywords(e.description.lower())) }}">
            <a class="w100" href="/pod/{{e.podcast_podcastid}}/{{e.episodeid}}">
                <div class="df col">
                    <div class="df row pod-ep-info">
                        <img src="{{ url_for('static', filename='images/'+pod.thumbnail) }}" alt="{{ pod.thumbnail }}"/>
                        <h1 class="accent-color highlight">{{ e.title }}</h1>
                    </div>
                    <p class="secondary-color pod-ep-description">{{ e.description }}</p>
                </div>
            </a>
            <div class="df row" id="pod-ep-control">
                <button data-post="/play/{{ e.podcast_podcastid }}/{{ e.episodeid }}">{{ macro.compositeplay(data_pod=e.podcast_podcastid, data_ep=e.episodeid) }}</button>
                <time class="accent-color">{{ timestampToString(e.release_date) }}</time>
            </div>
        </li>
    {% endfor %}
    {% else %}
    {{ macro.empty_section("Questo podcast ancora non ha alcun episodio.") }}
    {% endif %}
    </ul>
</section>
{% if pod.user_username == current_user.username %}
<section>
    <h1 class="accent-color">Aggiungi un episodio</h1>
    <form class="df col" method="POST" action="/api/new/episode" enctype="multipart/form-data">
        <div class="df row">
            <div class="df col w100">
                <div class="df row pod-ep-info">
                    <img src="{{ url_for('static', filename='images/'+pod.thumbnail) }}" alt="{{ pod.thumbnail }}"/>
                    <input type="text" name="newepisode_title" id="newepisode_title" class="accent-color w100" placeholder="Titolo" maxlength="64"/>
                    <input type="hidden" name="newepisode_podcastid" value="{{ pod.podcastid }}" />
                </div>
                <textarea class="secondary-color pod-ep-description" name="newepisode_description" id="newepisode_description" class="secondary-color" placeholder="Inserisci una descrizione dell'episodio" maxlength="500"></textarea>
            </div> 
            <div class="stack" id="newepisode_filewrapper">
                <button type="button" class="accent-color p8 btn-square w100">Carica traccia</button>
                <input type="file" name="newepisode_track" accept="audio/*"/>
            </div>
        </div>
        <button class="p8 btn-square btn-small fg-dark bg-accent-color" id="newepisode_submit">Crea episodio</button>
    </form>
</section>
{% endif %}
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/action.js') }}"></script>
<script src="{{ url_for('static', filename='js/button-helper.js') }}"></script>
{% endblock %}
