{% extends "base.html" %} 
{% import 'macro.html' as macro %}
{% block title %}
    {% if url_for(request.endpoint) == '/me' %}
        Il tuo profilo
    {% else %}
        Profilo di {{ user.display_name }}
    {% endif %}
{% endblock %}
{% block content %}
<section id="profile" class="df col">
    <section class="df col" id="profile-info">
        <span class="df row"><h2 class="accent-color">{{ user.display_name }}</h2>{% if current_user.is_authenticated and current_user.username == user.username %}<a href="/api/signout"><i class="bi-box-arrow-right"></i></a>{% endif %}</span>
        <h1 class="accent-color">{{ user.username }}</h1>
    </section> 
    {%- call macro.scrollx(title="Podcast seguiti")%}
        {% if following|length > 0 %}
            {% for f in following %}
            {{ macro.card(f.title, getUserByUsername(f.user_username).display_name, f.thumbnail, '/pod/'+f.podcastid|string, f.category + [f.title + f.user_username]) }}
            {% endfor %}
        {% else%}
            {{ macro.empty_section("Inizia a seguire dei podcast per riempire questa sezione." if current_user.username == user.username else "Questo utente non segue nessun podcast.") }}
        {% endif %}
    {%- endcall%}
    {% if user.is_creator %}
    {%- call macro.scrollx(title="Podcast prodotti")%}
        {% if created|length > 0 %}
            {% for f in created %}
            {{ macro.card(f.title, getUserByUsername(f.user_username).display_name, f.thumbnail, '/pod/'+f.podcastid|string, f.category + [f.title + f.user_username]) }}
            {% endfor %}
        {% else%}
            {{ macro.empty_section("Crea dei podcast per riempire questa sezione." if current_user.username == user.username else "Questo utente non segue nessun podcast.") }}
        {% endif %}
    {%- endcall%}
    {% endif %}
</section>
{% endblock %}