{% extends "base.html" %}
{% import "macro.html" as macro %}
{% block title %}Le tue iscrizioni{% endblock %}
{% block content %}
{% if data|length > 0 %}
{% for d in data %}
<section class="df col">
    {%- call macro.scrollx(title=d["podcast_meta"].title)%}
        {% for e in d["episodes_data"] %}
        {{ macro.card(e.title, d["podcast_meta"].title, d["podcast_meta"].thumbnail, "/pod/"+e.podcast_podcastid|string + "/" + e.episodeid|string, e.title.lower().split(' ') + d["podcast_meta"].title.lower().split(' ') + d["podcast_meta"].category) }}
        {% endfor %}
    {%- endcall %}
</section>
{% endfor %}
{% else %}
{{ macro.empty_section("Inizia a seguire dei podcast per riempire questa sezione.") }}
{% endif %}
{% endblock %}